<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313111366709-0g5h48i8hods79ad29m4vse2lvm1kic7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313111366709-0g5h48i8hods79ad29m4vse2lvm1kic7</string>
	<key>API_KEY</key>
	<string>AIzaSyDxbUDd2d4mO8_a1AMTmBG3p7aJPJWIZxk</string>
	<key>GCM_SENDER_ID</key>
	<string>313111366709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samatramazan.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-16180</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-16180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313111366709:ios:6ed7b10bd8237bb6f9f57c</string>
</dict>
</plist>